# *************************************************************************************
# README:
# The is the base code for all the "show" nodes that we created for Moxie. All show
#    nodes should listen to Yes/No/IDK, along with have a specific interaction
#    when they timed out (aka the child didn't do or say anything for 20 seconds).
#    The show nodes include: Show Drawing, Show Face, and Show Code.
# NOTE:
#    This jinja file extends from the PolarQuestion.jinja
# *************************************************************************************

{% extends "PolarQuestion.jinja" %}

{# Turn on the recognizer #}
{% block prompt_code %}
	{{super()}}
	^reset(TOPIC ~{{topic_name}})
	^enableLongTimer()
	{{util.var_name("timedOutCount", module_id)}} = 0
{% endblock prompt_code %}

{% block polar_rules_before_yes_no %}

{# Moxie recognized whatever the Mentor is supposed to be showing #}
u: SUCCESS ({% block success_pattern %} {% endblock success_pattern %})
	{% block success_text %}
	{% endblock success_text %}
	{% block success_exit_code %}
	{% endblock success_exit_code %}

{% endblock polar_rules_before_yes_no %}

{% block reprompt %}

{# Moxie timed out if the Mentor didn't say anything or show something #}
u: TIMED_OUT (eb-wait-complete) ^keep() ^repeat()
	{% block timed_out %}
	# Reprompt after 1st time Moxie timed out
	if({{util.var_name("timedOutCount", module_id)}} <= 0){
		^reuse(REPROMPT)
		{{util.var_name("timedOutCount", module_id)}} += 1
		{% block timed_out_code %} {# Insert additional code here #}
		{% endblock timed_out_code %}
		^enableLongTimer()
	}
	else {
		# turn of recognizer and set as timed out
		{% block timed_out_exit %}
		{% block timed_out_exit_code %} {# Insert additional code here #}
		{% endblock timed_out_exit_code %}
		{{util.exit_node(timed_out_move_on_topic)}}
		{% endblock timed_out_exit %}
		}
	{% endblock timed_out %}

{% endblock reprompt %}

{% block polar_extensions %}

u: FALLBACK (^gbl_fallback()) ^keep() ^repeat()
	{% block fallback_handler %} {# Insert additional code here #}
	{% endblock fallback_handler %}
	
{% endblock polar_extensions %}